language: php

# list any PHP version you want to test against
php:
  - 5.5

#services
services:
  - mongodb

#branches
branches:
  only:
    - development

#
## optionally specify a list of environments, for example to test different RDBMS
env:
  - APP_ENV=local CI_HOME=`pwd` INI_FILE=$('~/.phpenv/versions/$(phpenv version-name)/etc/php.ini') SANDBOX=/data/temp/ PHP_SANDBOX_PATH=$CI_HOME/app/tests/setup/php.ini PHP_SANDBOX_VERSIONS=$CI_HOME/app/tests/setup/php.version
#  - DB=pgsql

# execute any number of scripts before the test run, custom env's are available as variables
before_script:
  - composer install
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - mongo < $CI_HOME/app/tests/setup/mongo-setup.js
# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use
script: phpunit --configuration phpunit.xml

# configure notifications (email, IRC, campfire etc)
#notifications:
#  irc: "irc.freenode.org#yourfavouriteroomfortravis"
